<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mvnsearch.mybatis.domain.repository.CityRepository">

    <resultMap id="CityResultMap" type="City">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="state" column="state"/>
        <result property="country" column="country"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findOne" resultMap="CityResultMap">
        SELECT *
        FROM CITY
        WHERE ID = #{id:INTEGER}
    </select>
</mapper>
